.floating-text {
    -fx-text-fill: #2d936d;
    -fx-background-color: rgba(0,0,0,0);
}

.outline-button {
	-fx-background-color: white;
	-fx-border-color:  #2d936d;
	-fx-border-radius: 8;
    -fx-background-radius: 8;
	-fx-text-fill:  #2d936d;
}

.outline-button:hover {
	-fx-background-color:  #2d936d;
	-fx-text-fill: white;
}


.choice {
    -fx-background-color:  rgba(0, 0, 0, 0);
    -fx-border-color:  black;
    -fx-border-width: 4;
    -fx-border-radius: 50;
    -fx-background-radius:  50;
    -fx-font-size: 22;
    
}

.choice:hover, .img:hover {
    transition: all 1s ease-in-out;
    -fx-translate-y: -50px;
    -fx-border-color: #2d936d;
    -fx-text-fill: #2d936d;
}

.root {
    -fx-background-color:  white;
}



.mfx-checkbox {
	-mfx-main: #2d936d;
}

.mfx-list-view .virtual-flow .mfx-list-cell {
    -fx-font-size: 22;
    
}

.mfx-list-cell .data-label {
    -fx-padding: 50;
}


