.floating-text {
    -fx-text-fill: #2d936d;
    /* -fx-background-color: rgba(0,0,0,0); */
}

.unavailable .floating-text {
    -fx-text-fill: #C8C8C9;
}

.mfx-text-field .text-field {
	-fx-highlight-fill: #73AC9A; /* Selected text highlight */
    -fx-text-fill: #2f2e2e; /* Text color */
}

.outline-button {
	-fx-background-color: white;
	-fx-border-color:  #2d936d;
	-fx-border-radius: 8;
    -fx-background-radius: 8;
	-fx-text-fill:  #2d936d;
}

.outline-button:hover {
	-fx-background-color:  #2d936d;
	-fx-text-fill: white;
}


.choice {
    -fx-border-color:  black;
    -fx-border-width: 4;
    -fx-border-radius: 50;
    -fx-background-radius:  50;
    -fx-font-size: 22;
}

.mfx-date-picker .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: #2d936d;
}

.mfx-ripple-generator {
    -fx-color: white;
}


.date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
	-fx-text-fill: white;
}

.date-picker-popup .mfx-date-cell:current {
	-fx-background-color: #2d936d;
    -fx-text-fill: white;
}

.date-picker-popup .mfx-date-cell:selected {
	-fx-background-color: transparent;
    -fx-border-color: #2d936d;
    -fx-border-width: 2;
	-fx-text-fill: #2d936d;
}

.date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:hover,
.date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:hover,
.date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected,
.date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected {
	-fx-background-color: #73AC9A;
    -fx-text-fill: white;
}

.mfx-date-picker .date-picker-popup .left-arrow .mfx-ripple-generator,
.mfx-date-picker .date-picker-popup .right-arrow .mfx-ripple-generator {
	-mfx-ripple-color: #bddfd2;
    color:  #f8f7fa;
}

/* Notification */
.notification {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-border-color: #2d936d;
	-fx-border-width: 3;
	-fx-border-radius: 10;
}

.notification .content {
	-fx-padding: 10;
	-fx-font-family: 'Avenir LT Std 65 Medium';
}


/* .choice:hover, .img:hover {
    transition: all 1s ease-in-out;
    -fx-translate-y: -50px;
    -fx-border-color: #2d936d;
    -fx-text-fill: #2d936d;
} */

.root {
    -fx-background-color:  white;
}


.mfx-checkbox {
	-mfx-main: #2d936d;
}

.mfx-list-view .virtual-flow .mfx-list-cell {
    -fx-font-size: 22;
}




